# Apache .htaccess sample
<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/cordova
  RewriteCond %{REQUEST_URI} !^/app
  RewriteCond %{REQUEST_URI} !^/assets
  RewriteCond %{REQUEST_URI} !^/component
  RewriteRule (.*) ./index.html [L]
</ifModule>
